            body{
                padding:0%;
                margin:0%;
                box-sizing: border-box;
            }
            .container{
                font-size: 16px;
                width: 1250px;
                height: 50px;
                display:flex;
                background-color: rgb(0, 0, 0);
                text-align: center;
                 padding-left: 25px;
                
            }
            .items{
            height: 10%;
           
            color: white;
            }
            .center{
               
                padding-left: 30px; 
                margin-left: 105px;
               align-items: center;
            }
            .table{
            padding-left: 19px;
             margin-left: 150px;
            background-color: rgb(124, 238, 10);
            width: 100px;
            margin-top: 5px;
            height: 40px;
            display:flex;
            align-items: center;
            color:black;
            border:none; 
              cursor:pointer;      
            }
          
                .footer{
            width: 100%;
            flex-wrap: nowrap;
            box-sizing: border-box;
            height: 250px;
            display: flex;
            background-color: rgb(192, 192, 192);
            justify-content: space-between;
                    
            margin-top: 50px;
            padding:  40px 80px;
    }
    .right{
        margin:0 0 10px 0;
    }
     .body{
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 20px;

    }
    .welcome{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .main{
        background: #fbdb0b;
        border: none;
        padding: 20px 60px;
        border-radius: 40px;
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
        margin-left:30%;
        margin-bottom: 10px;
    }
    .sign{
        background-color: yellow;
        margin-left:30%;
        color: rgb(0, 0, 0);
       font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .screen {
    width: 40%;
    height: auto;
    background: white;
    margin: 30px auto;
    border-radius: 20px;
    overflow: auto;
    padding: 10px;
    border: 2px solid black;
    }

    .body{
                font-family: Arial, sans-serif;
                text-align: center;
                padding: 20px;

            }
            .welcome{
                font-weight: bold;
            }
            .item-price{
                font-size: 16px;
                font-weight: Arial;
            }
            .empty-cart{
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                margin-top: 50px;
            }
            .main{
                background: #fbdb0b;
                border: none;
                padding: 5px 20px;
                border-radius: 20px;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                margin-left:5%;
                margin-top: 10px;
            }
            .sign{
                background-color: yellow;
                margin-left:30%;
                color: rgb(0, 0, 0);
               font-weight: bold;
                padding: 10px 50px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            .screen {
            width: 40%;
            height: auto;
            background: white;
            margin: 30px auto;
            border-radius: 20px;
            overflow: auto;
            padding: 10px;
            border: 2px solid black;
            }
            .close-btn{
                margin-right: 20px;
                font-size: 36px;
                cursor: pointer;
                user-select: none;
            }
            .delete-icon{
                width: 40px;
                height: 40px;
                transition: transform 0.2s;
                cursor: pointer;
            }
            .delete-icon:hover{
                transform: scale(1.2);
            }
            .items-controls{
               
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .quantity-btn{
                text-align: center;
                margin-left: 20px;
                height: 8px;
                width: 8px;
                border-color:  black;
                background-color: yellow;
                font-weight: bold;
                font-size: 16px;
                display: flex;
                align-items: center;

                justify-content: center;
                border-radius: 20px;
                cursor: pointer;
                transition: 0.2s;
                
            }
            .cart-item{
                background: #fbdb0b;
                border-radius: 20px;
                padding: 10px;
                align-items: center;
                margin-top: 10px;
            }